//
// avatar.scss
// Dashkit component
//

// Avatar
//
// General styles

.avatar {
  display: block;
  border-radius: 50%;

  > img {
    height: $avatar-img-size; width: auto;
    border-radius: $avatar-img-size;

    @supports(object-fit: cover) {
      width: $avatar-img-size;
      object-fit: cover;
    }
  }
}


// Avatar sizes

.avatar-sm {

  > img {
    height: $avatar-img-size-sm; width: auto;
    border-radius: $avatar-img-size-sm;

    @supports(object-fit: cover) {
      width: $avatar-img-size-sm;
      object-fit: cover;
    }
  }
}


// Online, offline
//
// Adds a circle indicator

.avatar-online, 
.avatar-offline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -2px; right: -2px;
    width: 14px; height: 14px;
    border: 2px solid $white;
    border-radius: 50%;
  }
}
  
// Online status

.avatar-online:before {
  background-color: $success;
}
.avatar-offline:before {
  background-color: $gray-500;
}


// Avatar stacked
//
// Stacks avatars horizontally

.avatar-stacked {
  display: flex;
}
.avatar-stacked .avatar {
  border: 2px solid currentColor;
}
.avatar-stacked .avatar + .avatar {
  margin-left: -.5rem;
}