//
// avatar.scss
// Dashkit component
//

// Avatar
//
// General styles

.avatar {
  position: relative;
  display: block;
  width: $avatar-size-base;
  height: $avatar-size-base;
}

.avatar .border {
  border-width: 4px !important;
}

.avatar .rounded {
  border-radius: 6px !important;
}

.avatar-img {
  width: 100%; height: 100%;
  object-fit: cover;
}

.avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 100%;
  background-color: $gray-500;
  font-size: 20px;
  color: white;
}


// Status
//
// Adds a status cicle in the bottom right corner

.avatar-online::before,
.avatar-offline::before, {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  width: 30%; height: 30%;
  border-radius: 50%;
  border: 3px solid $white;
}

.avatar-online::before {
  background-color: $success;
}

.avatar-offline::before {
  background-color: $gray-500;
}


// Sizes
//
// Controls the size of avatar images, avatar sizes, and avatar statuses

// Extra small

.avatar-xs {
  width: $avatar-size-xs;
  height: $avatar-size-xs;
}

.avatar-xs .border {
  border-width: 2px !important;
}

.avatar-xs .rounded {
  border-radius: 4px !important;
}

.avatar-xs .avatar-title {
  font-size: $font-size-xs;
}

.avatar-xs.avatar-online::before,
.avatar-xs.avatar-offline::before {
  border-width: 1px;
}

// Small

.avatar-sm {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
}

.avatar-sm .border {
  border-width: 3px !important;
}

.avatar-sm .rounded {
  border-radius: 4px !important;
}

.avatar-sm .avatar-title {
  font-size: $font-size-sm;
}

.avatar-sm.avatar-online::before,
.avatar-sm.avatar-offline::before {
  border-width: 2px;
}

// Large

.avatar-lg {
  width: $avatar-size-lg;
  height: $avatar-size-lg;
}

.avatar-lg .border {
  border-width: 5px !important;
}

.avatar-lg .rounded {
  border-radius: 8px !important;
}

.avatar-lg .avatar-title {
  font-size: 28px;
}

.avatar-lg.avatar-online::before,
.avatar-lg.avatar-offline::before {
  border-width: 4px;
}

// Extra large

.avatar-xl {
  width: $avatar-size-xl;
  height: $avatar-size-xl;
}

.avatar-xl .border {
  border-width: 6px !important;
}

.avatar-xl .rounded {
  border-radius: 8px !important;
}

.avatar-xl .avatar-title {
  font-size: 42px;
}

.avatar-xl.avatar-online::before,
.avatar-xl.avatar-offline::before {
  border-width: 5px;
}

// Extra extra large

.avatar-xxl {
  width: $avatar-size-xxl;
  height: $avatar-size-xxl;
}

.avatar-xxl .border {
  border-width: 5px !important;
}

.avatar-xxl .rounded {
  border-radius: 12px !important;
}

.avatar-xxl .avatar-title {
  font-size: 42px;
}

.avatar-xxl.avatar-online::before,
.avatar-xxl.avatar-offline::before {
  border-width: 6px;
}


// Avatar group
//
// Avatars placed inline with negative margin

.avatar-group {
  display: flex;

  .avatar +.avatar {
    margin-left: -$avatar-size-base / 4;
  }
  .avatar-xs +.avatar-xs {
    margin-left: -$avatar-size-xs / 4;
  }
  .avatar-sm +.avatar-sm {
    margin-left: -$avatar-size-sm / 4;
  }
  .avatar-lg +.avatar-lg {
    margin-left: -$avatar-size-lg / 4;
  }
  .avatar-xl +.avatar-xl {
    margin-left: -$avatar-size-xl / 4;
  }
}