//
// avatar.scss
// Dashkit component
//

// Avatar
//
// General styles

.avatar {
  position: relative;
  display: block;
  width: $avatar-size-base;
  height: $avatar-size-base;
  font-size: $avatar-size-base;
  border-width: .075em;
  border-style: solid;
  border-color: transparent;
  border-radius: $avatar-size-base;
  line-height: 0;
}

.avatar-img {
  width: auto; height: 100%;
  border-radius: inherit;

  @supports(object-fit: cover) {
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

.avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 100%;
  border-radius: inherit;
  background-color: $gray-600;
  font-size: .25em;
  color: white;
}


// Sizes

@mixin avatar($size) {
  width: $size;
  height: $size;
  font-size: $size;
  border-radius: $size;
}

.avatar-xs {
  @include avatar($avatar-size-xs);
}
.avatar-sm {
  @include avatar($avatar-size-sm);
}
.avatar-lg {
  @include avatar($avatar-size-lg);
}
.avatar-xl {
  @include avatar($avatar-size-xl);
}


// Online, offline
//
// Adds a circle indicator

.avatar-online, 
.avatar-offline {

  &::after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    width: .3em; height: .3em;
    border-width: .05em;
    border-style: solid;
    border-color: inherit;
    border-radius: 50%;
    transform: translate(12.5%, 12.5%);
    background-clip: content-box;
  }
}
  
// Online status

.avatar-online::after {
  background-color: $success;
}
.avatar-offline::after {
  background-color: $gray-500;
}


// Avatar stacked
//
// Stacks avatars horizontally

.avatar-stacked {
  display: flex;

  .avatar + .avatar {
    margin-left: -.333em;
  }
}