// 
// card.scss
// Extended from Bootstrap
//

// 
// Bootstrap Overrides =====================================
//

.card {
  margin-bottom: $spacer;
}

.card-header {
  display: flex;
  align-items: center;
  min-height: $card-header-height;
  padding-top: 0;
  padding-bottom: 0;

  > * {
    flex: 1;
  }
}


//
// Dashkit ===================================
//

.card-header-title {
  margin-bottom: 0;
}

.card-header-tabs {
  margin: 0;
}

// Make sure tabs underline always sticks to the bottom line

.card-header-tabs .nav-link {
  padding-top: ($card-header-height - $font-size-sm * $line-height-base) / 2 !important;
  padding-bottom: ($card-header-height - $font-size-sm * $line-height-base) / 2 !important;
}