//
// chart.scss
// Dashkit component
//

// Chart
//
// General styles

.chart {
  position: relative;
  height: $chart-height;
}
.chart-sm {
  height: $chart-height-sm;
}


// Tooltip
//
// Custom tooltip

#chartjs-tooltip {
  z-index: 0;
}

#chartjs-tooltip .arrow {
  top: 100%; left: 50%;
  transform: translateX(-50%) translateX(-.5rem);
}