//
// dropdowns.scss
// Extended from Bootstrap
// 

//
// Bootstrap Overrides =======================
//


// Dropdown toggle
//
// Removes focus state

.dropdown-toggle {
    
  &:focus {
      outline: none !important;
  }
}


//
// Dashkit ===================================
//

// Dropdown ellipses

.dropdown-ellipses {
  font-size: $font-size-lg;
  color: $gray-400;
}

// Remove dropdown arrow

.dropdown-ellipses::after {
  display: none;
}


// Dropdown card

.dropdown-menu-card {
  min-width: $dropdown-card-min-width;
  padding-top: 0;
  padding-bottom: 0;

  .card-header {
    min-height: $dropdown-card-header-min-height;
  }

  .card-body {
    max-height: $dropdown-card-body-max-height;
    overflow-y: auto;
  }
}