//
// header.scss
// Dashkit component
//

// Header
//
// General styles

.header {
  margin-bottom: $header-margin-bottom;
}

.header-img-top {
  width: 100%; height: autol;

  @include media-breakpoint-up(md) {
    width: calc(100% + #{$main-content-padding-x} * 2 + #{$grid-gutter-width});
    margin-left: calc(-#{$main-content-padding-x} - #{$grid-gutter-width / 2});
    margin-right: calc(-#{$main-content-padding-x} - #{$grid-gutter-width / 2});
  }
}

.header-body {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  border-bottom: $header-border-width solid $header-border-color;
}

.header-pretitle {
  text-transform: uppercase;
  letter-spacing: .08em;
  color: $text-muted;
}

.header-title {
  margin-bottom: 0;
}

.header-tabs {
  margin-bottom: -$header-padding-bottom;
  border-bottom: 0;

  .nav-link {
    padding-top: $header-padding-bottom;
    padding-bottom: $header-padding-bottom;
  }
}


// Header avatar
//
// Moves header avatar up by 50%

.header-avatar-top {
  margin-top: -($header-padding-top + $avatar-size-base / 2);
}
.header-avatar-top.avatar-xs {
  margin-top: -($header-padding-top + $avatar-size-xs / 2);;
}
.header-avatar-top.avatar-sm {
  margin-top: -($header-padding-top + $avatar-size-sm / 2);;
}
.header-avatar-top.avatar-lg {
  margin-top: -($header-padding-top + $avatar-size-lg / 2);;
}
.header-avatar-top.avatar-xl {
  margin-top: -($header-padding-top + $avatar-size-xl / 2);;
}