//
// header.scss
// Dashkit component
//

// Header
//
// General styles

.header {
  margin-top: $header-margin-top;
  margin-bottom: $header-margin-bottom;
}

.header-img-top {
  width: 100%; height: auto;
}

.header-body {
  padding-top: $header-spacing-y;
  padding-bottom: $header-spacing-y;
}

.header-pretitle {
  text-transform: uppercase;
  letter-spacing: .08em;
  color: $text-muted;
}

.header-title {
  margin-bottom: 0;
}

.header-tabs {
  margin-bottom: -$header-spacing-y;
  border-bottom-width: 0;

  .nav-link {
    padding-top: $header-spacing-y;
    padding-bottom: $header-spacing-y;
  }
}