//
// kanban.scss
// Dashkit component
//

// Container

.container-fluid.kanban-container {
  min-height: calc(100vh - 129px);
}

.container.kanban-container {
  min-height: calc(100vh - 129px - 69px);
}

.kanban-container {
  overflow-x: auto;
}

.kanban-container > .row {
  flex-wrap: nowrap;
}

.kanban-container > .row > [class*="col"] {
  min-width: $kanban-col-width;
  width: $kanban-col-width;
  max-width: $kanban-col-width;
}


// Nested cards

.kanban-category .card {
  margin-bottom: 0;
}

.kanban-category .card + .card {
  margin-top: .75rem;
}