//
// kanban.scss
// Dashkit component
//

// Container

.container-fluid.kanban-container {
  min-height: calc(100vh - 129px);
}

.container.kanban-container {
  min-height: calc(100vh - 129px - 69px);
}

.kanban-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

}

.kanban-container > .row {
  flex-wrap: nowrap;
}

.kanban-container > .row > [class*="col"] {
  min-width: $kanban-col-width;
  width: $kanban-col-width;
  max-width: $kanban-col-width;
}


// Category

.kanban-category {
  min-height: 1rem; // in case all items have been moved
}


// Item

.kanban-item {
  touch-action: none;
}

.kanban-item.gu-mirror {
  opacity: 1;
}


// Card

.kanban-item > .card[data-toggle="modal"] {
  cursor: pointer;
}