//
// kanban.scss
// Dashkit component
//

.kanban-row {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.kanban-row > [class*="col"] {
  min-width: $kanban-col-width;
  width: $kanban-col-width;
  max-width: $kanban-col-width;
}

.kanban-card-container .card-header {
  border-bottom: 0;
}

.kanban-card-container .card-header ~ .card-body {
  padding-top: 0;
}

.kanban-card {
  margin-bottom: 0;
}

.kanban-card + .kanban-card {
  margin-top: $kanban-card-margin-bottom;
}