//
// page-header.scss
// Dashkit component
//

// Page header
//
// General styles

.page-header {
  padding-top: $page-header-spacer-y;
  padding-bottom: $page-header-spacer-y;
  border-bottom: $page-header-border-width solid $page-header-border-color;
}

.page-header-tabs {
  border-bottom: 0;
  margin-bottom: -$page-header-spacer-y;

  .nav-link {
    padding-top: $page-header-spacer-y;
    padding-bottom: $page-header-spacer-y;
  }
}