//
// page-header.scss
// Dashkit component
//

// Page header
//
// General styles

.page-header {
  margin-bottom: $page-header-margin-bottom;
  padding-top: $page-header-padding-top;
  padding-bottom: $page-header-padding-bottom;
  border-bottom: $page-header-border-width solid $page-header-border-color;
}

.page-header-tabs {
  margin-top: -$page-header-padding-top;
  margin-bottom: -$page-header-padding-bottom;
  border-bottom: 0;

  .nav-link {
    padding-top: $page-header-padding-top;
    padding-bottom: $page-header-padding-bottom;
  }
}