// 
// tables.scss
// Extended from Bootstrap
//

// 
// Bootstrap Overrides =====================================
//

.table {

  thead th {
    background-color: $table-head-bg;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: .08em;
    color: $table-head-color;
    border-bottom-width: $table-border-width;
  }

  tbody td {
    vertical-align: middle;
  }
}

.table-sm {
  
  thead th {
    font-size: $font-size-xs;
  }
  tbody td {
    font-size: $font-size-sm;
  }
}