// 
// toggle.scss
// Dashkit component
//

.custom-checkbox-toggle {

  padding-left: 0;

  .custom-control-label {
    position: relative;
  }
  
  .custom-control-label::before {
    top: 0;
    display: inline-block;
    position: relative;
    border-radius: $spacer;
    width: $spacer * 2;
    height: $spacer;
    transition: .2s ease all;
  }

  .custom-control-label::after {
    content: '';
    position: absolute;
    height: $spacer;
    width: $spacer;
    border-radius: 50%;
    left: 0;
    top: 0;
    background: $white;
    transform: scale(.8);
    transition: .2s ease all;
  }
  
  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      right: 0;
      left: $spacer;
    }
  }
  
}