<nav class="navbar navbar-vertical fixed-start navbar-expand-md {{#unless demoMode}}{{#is navColor 'default'}}navbar-light{{/is}}{{#is navColor 'inverted'}}navbar-dark{{/is}}{{#is navColor 'vibrant'}}navbar-dark navbar-vibrant{{/is}}{{/unless}}" id="sidebar">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/alerti-brand-2.svg" class="navbar-brand-img d-flex justify-content-start" alt="Alerti Logo">
    </a>

    <!-- User (xs) -->
    <div class="navbar-user d-md-none">

      <!-- Dropdown -->
      <div class="dropdown">

        <!-- Toggle -->
        <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm avatar-online">
            <img src="{{webRoot}}/assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
          </div>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
          <a href="{{webRoot}}/profile-posts.html" class="dropdown-item">Profile</a>
          <a href="{{webRoot}}/account-general.html" class="dropdown-item">Settings</a>
          <a href="{{webRoot}}/billing.html" class="dropdown-item">Billing</a>
          <hr class="dropdown-divider">
          <a href="{{webRoot}}/sign-in.html" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">

      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge input-group-reverse">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-text">
            <span class="fe fe-search"></span>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{#is page 'index.html'}}active{{/is}}" href="{{webRoot}}/index.html">
            <i class="fe fe-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarRadar" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarRadar">
            <i class="fe fe-user"></i> Radar
          </a>
          <div class="collapse" id="sidebarRadar">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a class="nav-link {{#is page 'alerts.html'}}active{{/is}}" href="{{webRoot}}/alerts.html">
                  Alerts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'feeds.html'}}active{{/is}}" href="{{webRoot}}/feedss.html">
                  Feeds
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'social-accounts.html'}}active{{/is}}" href="{{webRoot}}/social-accounts.html">
                  Social accounts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'newsletters.html'}}active{{/is}}" href="{{webRoot}}/newsletters.html">
                  Newsletters
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'url.html'}}active{{/is}}" href="{{webRoot}}/url.html">
                  URL
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'inbox.html'}}active{{/is}}" href="{{webRoot}}/inbox.html">
            <i class="fe fe-inbox"></i> Inbox
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'insights.html'}}active{{/is}}" href="{{webRoot}}/insights.html">
            <i class="fe fe-pie-chart"></i> Insights
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#sidebarInfluencers" data-bs-toggle="collapse" role="button" aria-expanded="{{#is category 'influencerss'}}true{{else}}false{{/is}}" aria-controls="sidebarInfluencers">
            <i class="fe fe-user"></i> Influencers
          </a>
          <div class="collapse {{#is category 'influencers'}}show{{/is}}" id="sidebarInfluencers">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a class="nav-link {{#is page 'crm-contacts.html'}}active{{/is}}" href="{{webRoot}}/crm-contacts.html">
                  Contacts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'crm-companies.html'}}active{{/is}}" href="{{webRoot}}/crm-companies.html">
                  Companies
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'publisher.html'}}active{{/is}}" href="{{webRoot}}/publisher.html">
            <i class="fe fe-edit"></i> Publisher
          </a>
        </li>
      </ul>
      
      <!-- Divider -->
      <hr class="navbar-divider my-3">
    
      <!-- Heading -->
      <h6 class="navbar-heading">
        On demand
      </h6>
      
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#sidebarData" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarData">
          <i class="fe fe-user"></i> Data
        </a>
        <div class="collapse" id="sidebarData">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a class="nav-link {{#is page 'extraction.html'}}active{{/is}}" href="{{webRoot}}/extraction.html">
                Extraction
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#is page 'integrations.html'}}active{{/is}}" href="{{webRoot}}/integrations.html">
                Intégrations
              </a>
            </li>
            <a class="nav-link {{#is page 'automation.html'}}active{{/is}}" href="{{webRoot}}/automations.html">
              Automation
            </a>
          </li>
          </ul>
        </div>
      </li>       
        <li class="nav-item">
          <a class="nav-link {{#is page 'store.html'}}active{{/is}}" href="{{webRoot}}/store.html">
            <i class="fe fe-shopping-cart"></i> Analytics
          </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link {{#is page 'marketplace.html'}}active{{/is}}" href="{{webRoot}}/marketplace.html">
            <i class="fe fe-layers"></i> Intelligence
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'store.html'}}active{{/is}}" href="{{webRoot}}/store.html">
            <i class="fe fe-shopping-cart"></i> Store
          </a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{#is page 'marketplace.html'}}active{{/is}}" href="{{webRoot}}/marketplace.html">
            <i class="fe fe-layers"></i> Marketplace
          </a>
        </li>       
      </ul>

      <!-- Divider -->
      <hr class="navbar-divider my-3 mt-auto">

      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a class="nav-link {{#is page 'marketplace.html'}}active{{/is}}" href="{{webRoot}}/marketplace.html">
            <i class="fe fe-settings"></i> Settings & Members
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#sidebarHelp" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarHelp">
            <i class="fe fe-help-circle"></i> Help Center
          </a>
          <div class="collapse" id="sidebarHelp">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a class="nav-link {{#is page 'extraction.html'}}active{{/is}}" href="{{webRoot}}/extraction.html">
                  Getting started
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#is page 'integrations.html'}}active{{/is}}" href="{{webRoot}}/integrations.html">
                  Product tour
                </a>
              </li>
              <a class="nav-link {{#is page 'automation.html'}}active{{/is}}" href="{{webRoot}}/automations.html">
                  Knowledge base
              </a>
            </li>
            </li>
              <a class="nav-link {{#is page 'automation.html'}}active{{/is}}" href="{{webRoot}}/automations.html">
                  Contact support
              </a>
            </li>
            </ul>
          </div>
        </li>
      </ul>
  </div>
</nav>
