@mixin badge-variant-soft($bg, $color) {
  color: $color;
  background-color: $bg;

  &[href] {
    @include hover-focus {
      color: $color;;
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}
