{% extends 'layouts/default.twig' %}


{% block content %}

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div
				class="col-12 col-lg-10 col-xl-8">

				<!-- Header -->
				<div class="header mt-md-5">
					<div class="header-body">
						<div class="row align-items-center">
							<div
								class="col">

								<!-- Pretitle -->
								<h6 class="header-pretitle">
									paramètres

								</h6>

								<!-- Title -->
								<h1 class="header-title">
									Votre compte

								</h1>

							</div>
						</div>
						<!-- / .row -->
						<div class="row align-items-center">
							<div
								class="col">

								

							</div>
						</div>
					</div>
				</div>

				<!-- Form -->
				<div class="row justify-content-between align-items-center mb-5">


					<div class="list-group list-group-flush col-12 justify-content-between align-items-center">

						<div class="list-group-item col-12">
							<div class="row align-items-center m-2">
								<div
									class="col ml-n2">

									<!-- Heading -->
									<h4 class="mb-1">
										Messages de la plateforme

									</h4>


									<!-- Form text -->
									<small class="form-text text-muted col-12 col-md-6 m-0 p-0">
										Recevez les notifications de DataTourisme
									</small>

								</div>
								<div
									class="col-auto mr-n3">

									<!-- switch -->

									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="subscriptionsSwitchOne">
										<label class="custom-control-label" for="subscriptionsSwitchOne"></label>
									</div>


								</div>

							</div>
							<!-- / .row -->
						</div>

						<div class="list-group-item col-12">
							<div class="row align-items-center m-2">
								<div
									a class="col ml-n2">

									<!-- Heading -->
									<h4 class="mb-1">
										Mises à jour de vos points d’intérêt


									</h4>


									<!-- Form text -->
									<small class="form-text text-muted col-12 col-md-6 m-0 p-0 ">
										Soyez notifié lorsque un de vos points d’intérêts est mis à jour par un membre de votre équipe

									</small>

								</div>
								<div
									class="col-auto mr-n3">

									<!-- switch -->

									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="subscriptionsSwitchTwo" checked>

										<label class="custom-control-label" for="subscriptionsSwitchTwo"></label>

									</div>


								</div>

							</div>
							<!-- / .row -->
						</div>
						<div class="list-group-item col-12">
							<div class="row align-items-center m-2">
								<div
									a class="col ml-n2">

									<!-- Heading -->
									<h4 class="mb-1">
										Mises à jour de vos listes


									</h4>


									<!-- Form text -->
									<small class="form-text text-muted col-12 col-md-6 m-0 p-0 ">
										Soyez notifié lorsque une de vos listes est mise à jour par un membre de votre équipe

									</small>

								</div>
								<div
									class="col-auto mr-n3">

									<!-- switch -->

									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="subscriptionsSwitchThree" checked>

										<label class="custom-control-label" for="subscriptionsSwitchThree"></label>

									</div>


								</div>

							</div>
							<!-- / .row -->
						</div>
						<div class="list-group-item col-12">
							<div class="row align-items-center m-2">
								<div
									a class="col ml-n2">

									<!-- Heading -->
									<h4 class="mb-1">
										Newsletter Radar DataTourisme


									</h4>


									<!-- Form text -->
									<small class="form-text text-muted col-12 col-md-6 m-0 p-0 ">
										Recevez toutes les semaines les mises à jour de DataTourisme
									</small>


								</div>
								<div
									class="col-auto mr-n3">

									<!-- switch -->

									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="subscriptionsSwitchOne" checked>
										<label class="custom-control-label" for="subscriptionsSwitchOne"></label>
									</div>


								</div>

							</div>
							<!-- / .row -->
						</div>

					</div>


				</div>

				<!-- / .row -->
			</div>


		{% endblock %}
