<div class="header-top ">
<div class="container-fuild">

		<a href="#media" class="navbar-item">
			Médiathèque
		</a>
		<a href="#open-data" class="navbar-item">
			Open Data
		</a>
		<a href="#Chats" class="navbar-item">
			Communautés
		</a>
	</div>
</div>
