<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">

<!-- Libs CSS -->
<!-- build:css assets/fonts/feather/feather.min.css -->
<link rel="stylesheet" href="assets/fonts/feather/feather.css">
<!-- endbuild -->
<!-- build:css assets/libs/highlight/styles/vs2015.min.css -->
<link rel="stylesheet" href="assets/libs/highlight/styles/vs2015.css">
<!-- endbuild -->
<link rel="stylesheet" href="node_modules/quill/dist/quill.core.css">
<link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="node_modules/flatpickr/dist/flatpickr.min.css">

<!-- Theme CSS -->
<!-- build:css assets/css/theme-dark.min.css rel="" data-toggle="theme" data-theme-mode="dark" -->
<link rel="" href="assets/css/theme-dark.css" data-toggle="theme" data-theme-mode="dark">
<!-- endbuild -->
<!-- build:css assets/css/theme.min.css rel="" data-toggle="theme" data-theme-mode="light" -->
<link rel="" href="assets/css/theme.css" data-toggle="theme" data-theme-mode="light">
<!-- endbuild -->

<!-- ==================================================
Light/Dark Mode Toggle for Demo
The <style> and <script> tags below are only used to enable the darkmode toggle in the sidebar.
Refer to the "Dark Mode" section of the "Getting Started" page to select a permanent color scheme.
================================================== -->

<style>
  body { display: none; }
</style>

<script>
  var themeMode = (localStorage.getItem('dashkitThemeMode')) ? localStorage.getItem('dashkitThemeMode') : 'light';
  var themeFile = document.querySelector('[data-toggle="theme"][data-theme-mode="' + themeMode + '"]');

  // Enable stylesheet
  themeFile.rel = 'stylesheet';

  // Enable body content
  themeFile.addEventListener('load', function() {
    document.body.style.display = 'block';
  });
</script>

<!-- ==================================================
End of Light/Dark Mode Toggle Demo Code
================================================== -->

<title>@@title</title>