@@if(mode=="toggle") {
<!-- build:css assets/css/theme-dark.min.css rel="" data-toggle="theme" data-theme-mode="dark" -->
<link rel="" href="assets/css/theme-dark.css" data-toggle="theme" data-theme-mode="dark">
<!-- endbuild -->
<!-- build:css assets/css/theme.min.css rel="" data-toggle="theme" data-theme-mode="light" -->
<link rel="" href="assets/css/theme.css" data-toggle="theme" data-theme-mode="light">
<!-- endbuild -->

<style>
  body { display: none; }
</style>

<script>
  var themeMode = (localStorage.getItem('dashkitThemeMode')) ? localStorage.getItem('dashkitThemeMode') : 'light';
  var themeFile = document.querySelector('[data-toggle="theme"][data-theme-mode="' + themeMode + '"]');

  // Enable stylesheet
  themeFile.rel = 'stylesheet';

  // Enable body content
  themeFile.addEventListener('load', function() {
    document.body.style.display = 'block';
  });
</script>
} @@if(mode=="dark") {
<!-- build:css assets/css/theme-dark.min.css -->
<link rel="stylesheet" href="assets/css/theme-dark.css">
<!-- endbuild -->

<script>
  themeMode = 'dark';
</script>
} @@if(mode=="light") {
<!-- build:css assets/css/theme.min.css -->
<link rel="stylesheet" href="assets/css/theme.css">
<!-- endbuild -->

<script>
  themeMode = 'light';
</script>
}