<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

<!-- Libs CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

<!-- Theme CSS -->
{{#is colorScheme 'light'}}
<link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />
{{else is colorScheme 'dark'}}
<link rel="stylesheet" href="{{webRoot}}/assets/css/theme-dark.bundle.css" />
{{/is}}

<!-- Map CSS -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

<!-- Title -->
<title>{{title}}</title>
