<!-- Libs JS -->
<!-- build:js assets/libs/jquery/jquery.min.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/bootstrap/js/bootstrap.bundle.min.js -->
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/chart.js/Chart.min.js -->
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<!-- endbuild -->

<!-- Theme JS -->
<!-- build:js assets/js/theme.min.js -->
<script src="assets/js/theme.js"></script>
<!-- endbuild -->