<!-- Libs JS -->
<!-- build:js assets/libs/jquery/jquery.min.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/bootstrap/js/bootstrap.bundle.min.js -->
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/chart.js/Chart.min.js -->
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="assets/libs/chart.js/Chart.extension.js"></script>
<!-- endbuild -->
<script src="assets/libs/highlight/highlight.pack.js"></script>
<!-- build:js assets/libs/flatpickr/flatpickr.min.js -->
<script src="node_modules/flatpickr/dist/flatpickr.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/jquery-mask-plugin/jquery.mask.min.js -->
<script src="node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/list.js/list.min.js -->
<script src="node_modules/list.js/dist/list.min.js"></script>
<!-- endbuild -->

<!-- Theme JS -->
<!-- build:js assets/js/theme.min.js -->
<script src="assets/js/theme.js"></script>
<!-- endbuild -->