//
// avatar.scss
// Dashkit component
//

// General

.avatar {
  position: relative;
  display: inline-block;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 100%;
  background-color: $gray-500;
  color: $white;
}


// Status

.avatar-online,
.avatar-offline {

  &::after {
    content: '';
    position: absolute;
    bottom: 5%; right: 5%;
    width: 20%; height: 20%;
    border-radius: 50%;
  }

  .avatar-img {
    mask-image: url(../img/masks/avatar-status.svg);
    mask-size: 100% 100%;
  }
}

.avatar-online::after {
  background-color: $success;
}

.avatar-offline::after {
  background-color: $gray-500;
}


// Sizing map

$avatar-sizing: () !default;
$avatar-sizing: map-merge((
  "xs":   $avatar-size-xs,
  "sm":   $avatar-size-sm,
  "base": $avatar-size-base,
  "lg":   $avatar-size-lg,
  "xl":   $avatar-size-xl,
  "xxl":  $avatar-size-xxl
), $avatar-sizing);


// Sizing

@each $size, $value in $avatar-sizing {

  @if $size == base {
    .avatar {
      width: $value;
      height: $value;
      font-size: $value / 3;
    }
  } @else {
    .avatar.avatar-#{$size} {
      width: $value;
      height: $value;
      font-size: $value / 3;
    }
  }
}


// Ratio

@each $size, $value in $avatar-sizing {

  @if $size == base {
    .avatar.avatar-4by3 {
      width: $value * 4 / 3;
    }
  } @else {
    .avatar.avatar-#{$size}.avatar-4by3 {
      width: $value * 4 / 3;
    }
  }
}


// Group

.avatar-group {
  display: inline-flex;

  // Shift every next avatar left
  @each $size, $value in $avatar-sizing {
    @if $size == base {
      .avatar + .avatar {
        margin-left: -$value / 4;
      }
    } @else {
      .avatar.avatar-#{$size} + .avatar.avatar-#{$size} {
        margin-left: -$value / 4;
      }
    }
  }

  // Add some spacing between avatars
  .avatar:not(:last-child) {
    mask-image: url(../img/masks/avatar-group.svg);
    mask-size: 100% 100%;
  }

  // Bring an avatar to front on hover
  .avatar:hover {
    mask-image: none;
    z-index: 1;

    + .avatar {
      mask-image: url(../img/masks/avatar-group-hover.svg);
      mask-size: 100% 100%;

      &:last-child {
        mask-image: url(../img/masks/avatar-group-hover-last.svg);
      }
    }
  }

}