//
// Hanken Sans fonts
//

@font-face {
  font-family: 'Hanken Sans';
  src: url('../fonts/HankenSans-Regular.eot');
  src: url('../fonts/HankenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/HankenSans-Regular.woff') format('woff'), url('../fonts/HankenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Sans';
  src: url('../fonts/HankenSans-Medium.eot');
  src: url('../fonts/HankenSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HankenSans-Medium.woff') format('woff'), url('../fonts/HankenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Sans';
  src: url('../fonts/HankenSans-SemiBold.eot');
  src: url('../fonts/HankenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/HankenSans-SemiBold.woff') format('woff'), url('../fonts/HankenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}