//
// navbar.scss
// Extended from Bootstrap
//

// Bootstrap Overrides =======================

.navbar {

  // Nav

  &-nav {

    .nav {

      // Link

      &-link {
        display: flex;
        align-items: center;

        // Icons

        > [class*="icon"] {
          min-width: $navbar-nav-link-icon-width;
        }
      }
    }
  }
}


//
// Dashkit ===================================
//

.navbar {
  box-shadow: 0 0 1px 0 $border-color;

  // Vertical
  //
  // Creates a vertically aligned version of navbar

  &-vertical {
    
    // Expand
    // 
    // Make navbar vertically aligned at specified breakpoints

    &.navbar-expand {
      
      @each $breakpoint, $dimension in $grid-breakpoints {
          
        &-#{$breakpoint} {
            
          @include media-breakpoint-up(#{$breakpoint}) {
            position: fixed;
            top: 0; bottom: 0;
            flex-direction: column;
            width: $navbar-vertical-width;

            // Fixed left

            &.fixed-left {
              left: 0;
            }

            // Fixed right

            &.fixed-right {
              right: 0;
            }

            // Collapse

            .navbar-collapse {
              flex-direction: column;
              align-items: stretch;
              width: 100%;

              > * {
                min-width: 100%;
              }
            }

            // Nav

            .navbar-nav {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  // Nav
  //
  // Navbar nav overrides

  &-nav {
    margin-left: -$navbar-padding-x;
    margin-right: -$navbar-padding-x;

    // Nav

    .nav {

      // Link

      &-link {
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;

        // Active

        &.active {
          position: relative;

          // Line

          &:before {
            content: '';
            position: absolute;
            top: $nav-link-padding-y;
            bottom: $nav-link-padding-y;
            left: 0;
            border-left: 2px solid $primary;
          }
        }
      }
    }
  }


  // Dropdown
  //
  // Navbar dropdowns overrides

  .dropdown {

    // Menu

    &-menu {
      position: relative !important;
      top: auto; bottom: auto; left: auto; right: auto;
      width: 100%;
      padding: 0;
      border: 0;
    }

    // Item

    &-item {
      padding-left: ($dropdown-item-padding-x + $navbar-nav-link-icon-width);
    }
  }


  // Title
  // 
  // Creates navbar titles

  &-title {
    font-size: $navbar-title-font-size;
    text-transform: uppercase;
  }


  // Brand
  //
  // Navbar brand overrides

  &-brand {
    display: flex;
    justify-content: center;

    // Image

    &-img {
      max-width: 100%;
      max-height: 2rem;

      @include media-breakpoint-up(md) {
        max-height: 3.5rem;
      }
    }
  }


  // User
  //
  // Navbar user block

  &-user {
    display: flex;
    align-items: center;
    margin-left: -$navbar-padding-x;
    margin-right: -$navbar-padding-x;
    padding: $navbar-padding-y $navbar-padding-x 0;
    border-top: 1px solid $border-color;
    color: $body-color;

    @include media-breakpoint-up(md) {
      color: $body-color;
    }

    // Image

    &-img {
      margin-right: 1rem;

      > img {
        max-width: 2rem; height: auto;
        border-radius: 10rem;

        @supports(object-fit: cover) {
          width: 2rem; height: 2rem;
          object-fit: cover;
        }
      }
    }
  }

}