//
// alerts
// Extended from Bootstrap
//

// 
// Bootstrap Overrides =====================================
//

// Allow for a text-decoration since links are the same color as the alert text.

.alert-link {
  text-decoration: $alert-link-text-decoration;
}

// Color variants
//
// Using Bootstrap's core alert-variant mixin to generate solid background color + yiq colorized text (and making close/links match those colors)

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(shift-color($value, $alert-bg-scale), shift-color($value, $alert-border-scale), color-contrast(shift-color($value, $alert-bg-scale)));

    .alert-link, .close {
      color: color-contrast(shift-color($value, $alert-bg-scale));
    }

    hr {
      background-color: darken(shift-color($value, $alert-border-scale), 5%);
    }
  }
}
