<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
    @@if (sidebarSize == 'base' || demoMode) {
    @@include("partials/sidebar.html", {
    "category": "pages",
    "subcategory": "",
    "page": "settings.html"
    })
    }
    @@if (sidebarSize == 'small' || demoMode) {
    @@include("partials/sidebar-sm.html", {
    "category": "pages",
    "subcategory": "",
    "page": "settings.html"
    })
    }
    }
    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "pages",
    "subcategory": "",
    "page": "settings.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
      @@include("partials/topbar.html")
      }

      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Overview
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Settings
                    </h1>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="account-general.html" class="nav-link">
                          General
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="account-security.html" class="nav-link">
                          Security
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="account-billing.html" class="nav-link active">
                          Billing
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="account-usage.html" class="nav-link">
                          Usage
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="account-users.html" class="nav-link">
                          Users
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="account-notifications.html" class="nav-link">
                          Notifications
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <!-- Form -->
            <form class="mb-4">

            </form>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
