<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
    @@if (sidebarSize == 'base' || demoMode) {
    @@include("partials/sidebar.html", {
    "category": "dashboards",
    "subcategory": "crm",
    "page": "crm-contacts.html"
    })
    }
    @@if (sidebarSize == 'small' || demoMode) {
    @@include("partials/sidebar-sm.html", {
    "category": "dashboards",
    "subcategory": "crm",
    "page": "crm-contacts.html"
    })
    }
    }
    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "dashboards",
    "subcategory": "crm",
    "page": "crm-contacts.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
      @@include("partials/topbar.html")
      }

      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row justify-content-center">
          <div class="col-12">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Overview
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title text-truncate">
                      Contacts
                    </h1>

                  </div>
                  <div class="col-auto">

                    <!-- Navigation (button group) -->
                    <div class="nav btn-group d-inline-flex" role="tablist">
                      <button class="btn btn-white active" id="contactsListTab" data-toggle="tab" data-target="#contactsList" role="tab" aria-controls="contactsList" aria-selected="true">
                        <span class="fe fe-grid"></span>
                      </button>
                      <button class="btn btn-white" id="contactsCardsTab" data-toggle="tab" data-target="#contactsCards" role="tab" aria-controls="contactsCards" aria-selected="false">
                        <span class="fe fe-list"></span>
                      </button>
                    </div> <!-- / .nav -->

                    <!-- Buttons -->
                    <a href="#!" class="btn btn-primary ml-2">
                      Add contact
                    </a>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#!" class="nav-link text-nowrap active">
                          All contacts <span class="badge badge-pill badge-soft-secondary">823</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link text-nowrap">
                          Your contacts <span class="badge badge-pill badge-soft-secondary">231</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link text-nowrap">
                          Deleted <span class="badge badge-pill badge-soft-secondary">22</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <!-- Tab content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="contactsList" role="tabpanel" aria-labelledby="contactsListTab">

                <!-- Card -->
                <div class="card" data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"]}'>
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Form -->
                        <form>
                          <div class="input-group input-group-flush">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fe fe-search"></i>
                              </span>
                            </div>
                            <input class="list-search form-control" type="search" placeholder="Search">
                          </div>
                        </form>

                      </div>
                      <div class="col-auto mr-n3">

                        <!-- Select -->
                        <select class="custom-select custom-select-sm form-control-flush" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                          <option>5 per page</option>
                          <option>10 per page</option>
                          <option>25 per page</option>
                          <option>50 per page</option>
                        </select>

                      </div>
                      <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <button class="btn btn-sm btn-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-sliders mr-1"></i> Filter
                          </button>
                          <form class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                            <div class="card-header">

                              <!-- Title -->
                              <h4 class="card-header-title">
                                Filters
                              </h4>

                              <!-- Link -->
                              <a class="text-reset" href="#">
                                <small>Clear filters</small>
                              </a>

                            </div>
                            <div class="card-body">

                              <!-- List group -->
                              <div class="list-group list-group-flush mt-n4 mb-4">
                                <div class="list-group-item">
                                  <div class="row">
                                    <div class="col">

                                      <!-- Text -->
                                      <small>Owner</small>

                                    </div>
                                    <div class="col-auto">

                                      <!-- Select -->
                                      <select class="custom-select custom-select-sm" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                                        <option>Dave Gamache</option>
                                      </select>

                                    </div>
                                  </div> <!-- / .row -->
                                </div>
                                <div class="list-group-item">
                                  <div class="row">
                                    <div class="col">

                                      <!-- Text -->
                                      <small>Industry</small>

                                    </div>
                                    <div class="col-auto">

                                      <!-- Select -->
                                      <select class="custom-select custom-select-sm" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                                        <option>Any</option>
                                      </select>

                                    </div>
                                  </div> <!-- / .row -->
                                </div>
                              </div>

                              <!-- Button -->
                              <button class="btn btn-block btn-primary">
                                Create new filter
                              </button>

                            </div>
                          </form>
                        </div>


                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="table-responsive">
                    <table class="table table-sm table-hover table-nowrap card-table">
                      <thead>
                        <tr>
                          <th>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxAll">
                              <label class="custom-control-label" for="listCheckboxAll"></label>
                            </div>

                          </th>
                          <th>
                            <a class="list-sort text-muted" data-sort="item-name" href="#">Name</a>
                          </th>
                          <th>
                            <a class="list-sort text-muted" data-sort="item-title" href="#">Job title</a>
                          </th>
                          <th>
                            <a class="list-sort text-muted" data-sort="item-email" href="#">Email</a>
                          </th>
                          <th>
                            <a class="list-sort text-muted" data-sort="item-phone" href="#">Phone</a>
                          </th>
                          <th>
                            <a class="list-sort text-muted" data-sort="item-score" href="#">Lead score</a>
                          </th>
                          <th colspan="2">
                            <a class="list-sort text-muted" data-sort="item-company" href="#">Company</a>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="list font-size-base">
                        <tr>
                          <td>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxOne">
                              <label class="custom-control-label" for="listCheckboxOne"></label>
                            </div>

                          </td>
                          <td>

                            <!-- Avatar -->
                            <div class="avatar avatar-xs align-middle mr-2">
                              <img class="avatar-img rounded-circle" src="assets/img/avatars/profiles/avatar-1.jpg" alt="...">
                            </div> <a class="item-name text-reset" href="profile-posts.html">Dianna Smiley</a>

                          </td>
                          <td class="item-title">
                            Designer
                          </td>
                          <td class="item-email">

                            <!-- Email -->
                            <a class="text-reset" href="mailto:diana.smiley@company.com">diana.smiley@company.com</a>

                          </td>
                          <td class="item-phone">

                            <!-- Phone -->
                            <a class="text-reset" href="tel:1-650-430-1780">(988) 568-3568</a>

                          </td>
                          <td>

                            <!-- Badge -->
                            <span class="item-score badge badge-soft-danger">1/10</span>

                          </td>
                          <td class="item-company">

                            <!-- Link -->
                            <a class="text-reset" href="team-overview.html">Twitter</a>

                          </td>
                          <td class="text-right">

                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxTwo">
                              <label class="custom-control-label" for="listCheckboxTwo"></label>
                            </div>

                          </td>
                          <td>

                            <!-- Avatar -->
                            <div class="avatar avatar-xs align-middle mr-2">
                              <img class="avatar-img rounded-circle" src="assets/img/avatars/profiles/avatar-2.jpg" alt="...">
                            </div> <a class="item-name text-reset" href="profile-posts.html">Ab Hadley</a>

                          </td>
                          <td class="item-title">
                            Software engineer
                          </td>
                          <td class="item-email">

                            <!-- Email -->
                            <a class="text-reset" href="mailto:ab.hadley@company.com">ab.hadley@company.com</a>

                          </td>
                          <td class="item-phone">

                            <!-- Phone -->
                            <a class="text-reset" href="tel:1-650-430-1780">(650) 430-9876</a>

                          </td>
                          <td>

                            <!-- Badge -->
                            <span class="item-score badge badge-soft-success">8/10</span>

                          </td>
                          <td class="item-company">

                            <!-- Link -->
                            <a class="text-reset" href="team-overview.html">Google</a>

                          </td>
                          <td class="text-right">

                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxThree">
                              <label class="custom-control-label" for="listCheckboxThree"></label>
                            </div>

                          </td>
                          <td>

                            <!-- Avatar -->
                            <div class="avatar avatar-xs align-middle mr-2">
                              <img class="avatar-img rounded-circle" src="assets/img/avatars/profiles/avatar-3.jpg" alt="...">
                            </div> <a class="item-name text-reset" href="profile-posts.html">Adolfo Hess</a>

                          </td>
                          <td class="item-title">
                            Sales engineer
                          </td>
                          <td class="item-email">

                            <!-- Email -->
                            <a class="text-reset" href="mailto:adolfo.hess@company.com">adolfo.hess@company.com</a>

                          </td>
                          <td class="item-phone">

                            <!-- Phone -->
                            <a class="text-reset" href="tel:1-650-430-1780">(968) 682-1364</a>

                          </td>
                          <td>

                            <!-- Badge -->
                            <span class="item-score badge badge-soft-success">7/10</span>

                          </td>
                          <td class="item-company">

                            <!-- Link -->
                            <a class="text-reset" href="team-overview.html">Google</a>

                          </td>
                          <td class="text-right">

                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxFour">
                              <label class="custom-control-label" for="listCheckboxFour"></label>
                            </div>

                          </td>
                          <td>

                            <!-- Avatar -->
                            <div class="avatar avatar-xs align-middle mr-2">
                              <img class="avatar-img rounded-circle" src="assets/img/avatars/profiles/avatar-4.jpg" alt="...">
                            </div> <a class="item-name text-reset" href="profile-posts.html">Daniela Dewitt</a>

                          </td>
                          <td class="item-title">
                            Designer
                          </td>
                          <td class="item-email">

                            <!-- Email -->
                            <a class="text-reset" href="mailto:daniela.dewitt@company.com">daniela.dewitt@company.com</a>

                          </td>
                          <td class="item-phone">

                            <!-- Phone -->
                            <a class="text-reset" href="tel:1-650-430-1780">(650) 430-9876</a>

                          </td>
                          <td>

                            <!-- Badge -->
                            <span class="item-score badge badge-soft-warning">4/10</span>

                          </td>
                          <td class="item-company">

                            <!-- Link -->
                            <a class="text-reset" href="team-overview.html">Twitch</a>

                          </td>
                          <td class="text-right">

                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td>

                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="listCheckboxFive">
                              <label class="custom-control-label" for="listCheckboxFive"></label>
                            </div>

                          </td>
                          <td>

                            <!-- Avatar -->
                            <div class="avatar avatar-xs align-middle mr-2">
                              <img class="avatar-img rounded-circle" src="assets/img/avatars/profiles/avatar-5.jpg" alt="...">
                            </div> <a class="item-name text-reset" href="profile-posts.html">Miyah Myles</a>

                          </td>
                          <td class="item-title">
                            Program manager
                          </td>
                          <td class="item-email">

                            <!-- Email -->
                            <a class="text-reset" href="mailto:miyah.myles@company.com">miyah.myles@company.com</a>

                          </td>
                          <td class="item-phone">

                            <!-- Phone -->
                            <a class="text-reset" href="tel:1-650-430-1780">(935) 165-8435</a>

                          </td>
                          <td>

                            <!-- Badge -->
                            <span class="item-score badge badge-soft-danger">3/10</span>

                          </td>
                          <td class="item-company">

                            <!-- Link -->
                            <a class="text-reset" href="team-overview.html">Facebook</a>

                          </td>
                          <td class="text-right">

                            <!-- Dropdown -->
                            <div class="dropdown">
                              <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                  Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                  Something else here
                                </a>
                              </div>
                            </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">

                    <!-- Pagination -->
                    <ul class="pagination pagination-tabs pagination-overflow card-pagination">
                      <li class="page-item mr-auto">
                        <a class="page-link text-reset" href="#">
                          <i class="fe fe-arrow-left mr-1"></i> Previous
                        </a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item ml-auto">
                        <a class="page-link text-reset" href="#">
                          Next <i class="fe fe-arrow-right ml-1"></i>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
              <div class="tab-pane fade" id="contactsCards" role="tabpanel" aria-labelledby="contactsCardsTab">

                <!-- Cards -->
                <div data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"]}'>

                  <!-- Header -->
                  <div class="row align-items-center mb-4">
                    <div class="col">

                      <!-- Form -->
                      <form>
                        <div class="input-group input-group-lg input-group-merge">
                          <input class="list-search form-control form-control-prepended" type="search" placeholder="Search">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <span class="fe fe-search"></span>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                    <div class="col-auto mr-n3">

                      <!-- Select -->
                      <select class="custom-select custom-select-sm form-control-flush" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                        <option>5 per page</option>
                        <option>10 per page</option>
                        <option>25 per page</option>
                        <option>50 per page</option>
                      </select>

                    </div>
                    <div class="col-auto">

                      <!-- Dropdown -->
                      <div class="dropdown">
                        <button class="btn btn-sm btn-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fe fe-sliders mr-1"></i> Filter
                        </button>
                        <form class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                          <div class="card-header">

                            <!-- Title -->
                            <h4 class="card-header-title">
                              Filters
                            </h4>

                            <!-- Link -->
                            <a class="text-reset" href="#">
                              <small>Clear filters</small>
                            </a>

                          </div>
                          <div class="card-body">

                            <!-- List group -->
                            <div class="list-group list-group-flush mt-n4 mb-4">
                              <div class="list-group-item">
                                <div class="row">
                                  <div class="col">

                                    <!-- Text -->
                                    <small>Owner</small>

                                  </div>
                                  <div class="col-auto">

                                    <!-- Select -->
                                    <select class="custom-select custom-select-sm" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                                      <option>Dave Gamache</option>
                                    </select>

                                  </div>
                                </div> <!-- / .row -->
                              </div>
                              <div class="list-group-item">
                                <div class="row">
                                  <div class="col">

                                    <!-- Text -->
                                    <small>Industry</small>

                                  </div>
                                  <div class="col-auto">

                                    <!-- Select -->
                                    <select class="custom-select custom-select-sm" data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                                      <option>Any</option>
                                    </select>

                                  </div>
                                </div> <!-- / .row -->
                              </div>
                            </div>

                            <!-- Button -->
                            <button class="btn btn-block btn-primary">
                              Create new filter
                            </button>

                          </div>
                        </form>
                      </div>


                    </div>
                  </div> <!-- / .row -->

                  <!-- Body -->
                  <div class="list row">
                    <div class="col-12 col-md-6 col-xl-4">

                      <!-- Card -->
                      <div class="card">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Checkbox -->
                              <div class="custom-control custom-checkbox custom-checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="cardsCheckboxOne">
                                <label class="custom-control-label" for="cardsCheckboxOne"></label>
                              </div>

                            </div>
                            <div class="col-auto">

                              <!-- Dropdown -->
                              <div class="dropdown">
                                <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#!" class="dropdown-item">
                                    Action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Another action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Something else here
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div> <!-- / .row -->

                          <!-- Image -->
                          <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                            <img src="../assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>

                          <!-- Body -->
                          <div class="text-center mb-5">

                            <!-- Heading -->
                            <h2 class="card-title item-name">
                              <a href="profile-posts.html">Dianna Smiley</a>
                            </h2>

                            <!-- Text -->
                            <p class="small text-muted mb-3">
                              <span class="item-title">Designer</span> at <span class="item-company">Twitter</span>
                            </p>

                            <!-- Buttons -->
                            <a class="btn btn-sm btn-white" href="tel:1-650-430-1780">
                              <i class="fe fe-phone mr-1"></i> Call
                            </a>
                            <a class="btn btn-sm btn-white" href="mailto:diana.smiley@company.com">
                              <i class="fe fe-mail mr-1"></i> Email
                            </a>

                          </div>

                          <!-- Divider -->
                          <hr class="card-divider mb-0">

                          <!-- List group -->
                          <div class="list-group list-group-flush mb-n3">
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Company</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Text -->
                                  <small>Twitter</small>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Lead Score</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Badge -->
                                  <span class="item-score badge badge-soft-danger">1/10</span>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-md-6 col-xl-4">

                      <!-- Card -->
                      <div class="card">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Checkbox -->
                              <div class="custom-control custom-checkbox custom-checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="cardsCheckboxTwo">
                                <label class="custom-control-label" for="cardsCheckboxTwo"></label>
                              </div>

                            </div>
                            <div class="col-auto">

                              <!-- Dropdown -->
                              <div class="dropdown">
                                <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#!" class="dropdown-item">
                                    Action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Another action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Something else here
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div> <!-- / .row -->

                          <!-- Image -->
                          <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                            <img src="../assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>

                          <!-- Body -->
                          <div class="text-center mb-5">

                            <!-- Heading -->
                            <h2 class="card-title item-name">
                              <a href="profile-posts.html">Ab Hadley</a>
                            </h2>

                            <!-- Text -->
                            <p class="small text-muted mb-3">
                              <span class="item-title">Software engineer</span> at <span class="item-company">Google</span>
                            </p>

                            <!-- Buttons -->
                            <a class="btn btn-sm btn-white" href="tel:1-650-430-1780">
                              <i class="fe fe-phone mr-1"></i> Call
                            </a>
                            <a class="btn btn-sm btn-white" href="mailto:ab.hadley@company.com">
                              <i class="fe fe-mail mr-1"></i> Email
                            </a>

                          </div>

                          <!-- Divider -->
                          <hr class="card-divider mb-0">

                          <!-- List group -->
                          <div class="list-group list-group-flush mb-n3">
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Company</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Text -->
                                  <small>Google</small>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Lead Score</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Badge -->
                                  <span class="item-score badge badge-soft-success">8/10</span>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-md-6 col-xl-4">

                      <!-- Card -->
                      <div class="card">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Checkbox -->
                              <div class="custom-control custom-checkbox custom-checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="cardsCheckBoxThree">
                                <label class="custom-control-label" for="cardsCheckBoxThree"></label>
                              </div>

                            </div>
                            <div class="col-auto">

                              <!-- Dropdown -->
                              <div class="dropdown">
                                <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#!" class="dropdown-item">
                                    Action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Another action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Something else here
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div> <!-- / .row -->

                          <!-- Image -->
                          <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                            <img src="../assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>

                          <!-- Body -->
                          <div class="text-center mb-5">

                            <!-- Heading -->
                            <h2 class="card-title item-name">
                              <a href="profile-posts.html">Adolfo Hess</a>
                            </h2>

                            <!-- Text -->
                            <p class="small text-muted mb-3">
                              <span class="item-title">Sales engineer</span> at <span class="item-company">Google</span>
                            </p>

                            <!-- Buttons -->
                            <a class="btn btn-sm btn-white" href="tel:1-650-430-1780">
                              <i class="fe fe-phone mr-1"></i> Call
                            </a>
                            <a class="btn btn-sm btn-white" href="mailto:adolfo.hess@company.com">
                              <i class="fe fe-mail mr-1"></i> Email
                            </a>

                          </div>

                          <!-- Divider -->
                          <hr class="card-divider mb-0">

                          <!-- List group -->
                          <div class="list-group list-group-flush mb-n3">
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Company</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Text -->
                                  <small>Google</small>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Lead Score</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Badge -->
                                  <span class="item-score badge badge-soft-success">7/10</span>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-md-6 col-xl-4">

                      <!-- Card -->
                      <div class="card">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Checkbox -->
                              <div class="custom-control custom-checkbox custom-checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="cardsCheckboxFour">
                                <label class="custom-control-label" for="cardsCheckboxFour"></label>
                              </div>

                            </div>
                            <div class="col-auto">

                              <!-- Dropdown -->
                              <div class="dropdown">
                                <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#!" class="dropdown-item">
                                    Action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Another action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Something else here
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div> <!-- / .row -->

                          <!-- Image -->
                          <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                            <img src="../assets/img/avatars/profiles/avatar-4.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>

                          <!-- Body -->
                          <div class="text-center mb-5">

                            <!-- Heading -->
                            <h2 class="card-title item-name">
                              <a href="profile-posts.html">Daniela Dewitt</a>
                            </h2>

                            <!-- Text -->
                            <p class="small text-muted mb-3">
                              <span class="item-title">Designer</span> at <span class="item-position">Twitch</span>
                            </p>

                            <!-- Buttons -->
                            <a class="btn btn-sm btn-white" href="tel:tel:1-650-430-1780">
                              <i class="fe fe-phone mr-1"></i> Call
                            </a>
                            <a class="btn btn-sm btn-white" href="mailto:daniela.dewitt@company.com">
                              <i class="fe fe-mail mr-1"></i> Email
                            </a>

                          </div>

                          <!-- Divider -->
                          <hr class="card-divider mb-0">

                          <!-- List group -->
                          <div class="list-group list-group-flush mb-n3">
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Company</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Text -->
                                  <small>Twitch</small>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Lead Score</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Badge -->
                                  <span class="item-score badge badge-soft-warning">4/10</span>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-md-6 col-xl-4">

                      <!-- Card -->
                      <div class="card">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Checkbox -->
                              <div class="custom-control custom-checkbox custom-checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="cardsCheckboxFive">
                                <label class="custom-control-label" for="cardsCheckboxFive"></label>
                              </div>

                            </div>
                            <div class="col-auto">

                              <!-- Dropdown -->
                              <div class="dropdown">
                                <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a href="#!" class="dropdown-item">
                                    Action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Another action
                                  </a>
                                  <a href="#!" class="dropdown-item">
                                    Something else here
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div> <!-- / .row -->

                          <!-- Image -->
                          <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                            <img src="../assets/img/avatars/profiles/avatar-5.jpg" class="avatar-img rounded-circle" alt="...">
                          </a>

                          <!-- Body -->
                          <div class="text-center mb-5">

                            <!-- Heading -->
                            <h2 class="card-title item-name">
                              <a href="profile-posts.html">Miyah Myles</a>
                            </h2>

                            <!-- Text -->
                            <p class="small text-muted mb-3">
                              <span class="item-title">Program manager</span> at <span class="item-company">Facebook</span>
                            </p>

                            <!-- Buttons -->
                            <a class="btn btn-sm btn-white" href="tel:1-650-430-1780">
                              <i class="fe fe-phone mr-1"></i> Call
                            </a>
                            <a class="btn btn-sm btn-white" href="mailto:miyah.myles@company.com">
                              <i class="fe fe-mail mr-1"></i> Email
                            </a>

                          </div>

                          <!-- Divider -->
                          <hr class="card-divider mb-0">

                          <!-- List group -->
                          <div class="list-group list-group-flush mb-n3">
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Company</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Text -->
                                  <small>Facebook</small>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                              <div class="row">
                                <div class="col">

                                  <!-- Text -->
                                  <small>Lead Score</small>

                                </div>
                                <div class="col-auto">

                                  <!-- Badge -->
                                  <span class="item-score badge badge-soft-danger">3/10</span>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Pagination -->
                  <ul class="pagination pagination-tabs pagination-overflow">
                    <li class="page-item mr-auto">
                      <a class="page-link text-reset" href="#">
                        <i class="fe fe-arrow-left mr-1"></i> Previous
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item ml-auto">
                      <a class="page-link text-reset" href="#">
                        Next <i class="fe fe-arrow-right ml-1"></i>
                      </a>
                    </li>
                  </ul>

                </div>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
