// 
// user.scss
// Use this to write your custom SCSS
//
.nav-link.active {color: #ff390e;}

.nav-link:hover {color: #ff390e;}

.nav-iitem:actiive {color: #ff390e;}

.nav-iitem:hover {color: #ff390e;}