// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$alert-link-text-decoration:           underline;

// Extended vars
$breadcrumb-padding-y-sm:              .5rem;
$breadcrumb-padding-x-sm:              .5rem;
$breadcrumb-item-padding-sm:           .25rem;

$breadcrumb-margin-bottom-sm:          .25rem;
$breadcrumb-font-size-sm:              $font-size-base * .8;

// Custom variables
$badge-soft-bg-level: -10;