// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


$font-size-xs:                         ($font-size-base * .8125);

$alert-link-text-decoration:           underline;

// Extended vars
$breadcrumb-padding-y-sm:              .5rem;
$breadcrumb-padding-x-sm:              .5rem;
$breadcrumb-item-padding-sm:           .25rem;

$breadcrumb-margin-bottom-sm:          .25rem;
$breadcrumb-font-size-sm:              $font-size-base * .8;

// Custom variables
$badge-soft-bg-level: -10;

$display-letter-spacing: -.02em;


// Sidebar

$sidebar-width:                     250px;
$sidebar-border-color:              $gray-200;


// Nav vertical
$navbar-vertical-nav-link-padding-y:           .5rem;
$navbar-vertical-padding-y:                    $spacer;
$navbar-vertical-padding-x:                    $spacer;
$navbar-vertical-divider-bg:                   $gray-300;


$nav-tabs-link-active-border-width:           1px;
$nav-tabs-link-margin-x:                      .75rem; // Margin used for X so active underline matches width of label
$nav-tabs-link-padding-y:                     $card-spacer-y; // This keeps the height the same as the card header

// Smaller nav tabs
$nav-tabs-sm-font-size:                       .8125rem;