{% extends 'layouts/default.twig' %}


{% block content %}

	<!-- MODALS -->
	<!-- Modal: Members -->
		<div class="modal fade" id="modalMembers" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-card card" data-list='{"valueNames": ["name"]}'>
					<div
						class="card-header">

						<!-- Title -->
						<h4 class="card-header-title" id="exampleModalCenterTitle">
							Add a member
						</h4>

						<!-- Close -->
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div>
					<div
						class="card-header">

						<!-- Form -->
						<form>
							<div class="input-group input-group-flush input-group-merge input-group-reverse">
								<input class="form-control list-search" type="search" placeholder="Search">
								<div class="input-group-text">
									<span class="fe fe-search"></span>
								</div>
							</div>
						</form>

					</div>
					<div
						class="card-body">

						<!-- List group -->
						<ul class="list-group list-group-flush list my-n3">
							<li class="list-group-item">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a href="./profile-posts.html" class="avatar">
											<img src="./assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<a href="./profile-posts.html">Miyah Myles</a>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-success">●</span>
											Online
										</p>

									</div>
									<div
										class="col-auto">

										<!-- Button -->
										<a href="#!" class="btn btn-sm btn-white">
											Add
										</a>

									</div>
								</div>
								<!-- / .row -->
							</li>
							<li class="list-group-item">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a href="./profile-posts.html" class="avatar">
											<img src="./assets/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<a href="./profile-posts.html">Ryu Duke</a>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-success">●</span>
											Online
										</p>

									</div>
									<div
										class="col-auto">

										<!-- Button -->
										<a href="#!" class="btn btn-sm btn-white">
											Add
										</a>

									</div>
								</div>
								<!-- / .row -->
							</li>
							<li class="list-group-item">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a href="./profile-posts.html" class="avatar">
											<img src="./assets/img/avatars/profiles/avatar-7.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<a href="./profile-posts.html">Glen Rouse</a>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Busy
										</p>

									</div>
									<div
										class="col-auto">

										<!-- Button -->
										<a href="#!" class="btn btn-sm btn-white">
											Add
										</a>

									</div>
								</div>
								<!-- / .row -->
							</li>
							<li class="list-group-item">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a href="./profile-posts.html" class="avatar">
											<img src="./assets/img/avatars/profiles/avatar-8.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<a href="./profile-posts.html">Grace Gross</a>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-danger">●</span>
											Offline
										</p>

									</div>
									<div
										class="col-auto">

										<!-- Button -->
										<a href="#!" class="btn btn-sm btn-white">
											Add
										</a>

									</div>
								</div>
								<!-- / .row -->
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal: Kanban task -->
	<div class="modal fade" id="modalKanbanTask" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content bg-lighter">
				<div
					class="modal-body">

					<!-- Header -->
					<div class="row">
						<div
							class="col">

							<!-- Prettitle -->
							<h6 class="text-uppercase text-muted mb-3">
								<a href="#!" class="text-reset">How to Use Kanban</a>
							</h6>

							<!-- Title -->
							<h2 class="mb-2">
								Update Dashkit to include new components!
							</h2>

							<!-- Subtitle -->
							<p class="text-muted mb-0">
								This is a description of this task. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna nisi, ultrices ut pharetra eget.
							</p>

						</div>
						<div
							class="col-auto">

							<!-- Close -->
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div>
					</div>
					<!-- / .row -->

					<!-- Divider -->
					<hr
					class="my-4">

					<!-- Buttons -->
					<div class="mb-4">
						<div class="row">
							<div
								class="col">

								<!-- Reaction -->
								<a href="#!" class="btn btn-sm btn-white">
									😬 1
								</a>
								<a href="#!" class="btn btn-sm btn-white">
									👍 2
								</a>
								<a href="#!" class="btn btn-sm btn-white">
									Add Reaction
								</a>

							</div>
							<div
								class="col-auto me-n3">

								<!-- Avatar group -->
								<div class="avatar-group d-none d-sm-flex">
									<a href="./profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Ab Hadley">
										<img src="./assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
									</a>
									<a href="./profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Adolfo Hess">
										<img src="./assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
									</a>
									<a href="./profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Daniela Dewitt">
										<img src="./assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
									</a>
									<a href="./profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Miyah Myles">
										<img src="./assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
									</a>
								</div>

							</div>
							<div
								class="col-auto">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-white">
									Share
								</a>

							</div>
						</div>
						<!-- / .row -->
					</div>

					<!-- Card -->
					<div class="card">
						<div
							class="card-header">

							<!-- Title -->
							<h4 class="card-header-title">
								Files
							</h4>

							<!-- Button -->
							<a href="#!" class="btn btn-sm btn-white">
								Add files
							</a>

						</div>
						<div class="card-body">
							<div class="list-group list-group-flush my-n3">
								<div class="list-group-item">
									<div class="row align-items-center">
										<div
											class="col-auto">

											<!-- Avatar -->
											<a href="./project-overview.html" class="avatar">
												<img src="./assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
											</a>

										</div>
										<div
											class="col ms-n2">

											<!-- Title -->
											<h4 class="mb-1">
												<a href="./project-overview.html">Launchday logo</a>
											</h4>

											<!-- Time -->
											<p class="card-text small text-muted">
												1.5mb PNG Dave
											</p>

										</div>
										<div
											class="col-auto">

											<!-- Dropdown -->
											<div class="dropdown">
												<a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a href="#!" class="dropdown-item">
														Action
													</a>
													<a href="#!" class="dropdown-item">
														Another action
													</a>
													<a href="#!" class="dropdown-item">
														Something else here
													</a>
												</div>
											</div>

										</div>
									</div>
									<!-- / .row -->
								</div>
								<div class="list-group-item">
									<div class="row align-items-center">
										<div
											class="col-auto">

											<!-- Avatar -->
											<a href="./project-overview.html" class="avatar">
												<img src="./assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
											</a>

										</div>
										<div
											class="col ms-n2">

											<!-- Title -->
											<h4 class="mb-1">
												<a href="./project-overview.html">Launchday logo</a>
											</h4>

											<!-- Time -->
											<p class="card-text small text-muted">
												1.5mb PNG Dave
											</p>

										</div>
										<div
											class="col-auto">

											<!-- Dropdown -->
											<div class="dropdown">
												<a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a href="#!" class="dropdown-item">
														Action
													</a>
													<a href="#!" class="dropdown-item">
														Another action
													</a>
													<a href="#!" class="dropdown-item">
														Something else here
													</a>
												</div>
											</div>

										</div>
									</div>
									<!-- / .row -->
								</div>
							</div>

						</div>
					</div>

					<!-- Card -->
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div
									class="col-auto">

									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="./assets/img/avatars/profiles/avatar-1.jpg" alt="...">
									</div>

								</div>
								<div
									class="col ms-n2">

									<!-- Form -->
									<form class="mt-1">
										<textarea class="form-control form-control-flush form-control" data-autosize rows="1" placeholder="Leave a comment"></textarea>
									</form>

								</div>
								
								<div
									class="col-auto align-self-end">

									<!-- Icons -->
									<div class="text-muted mb-2">
										<a href="#!" class="text-reset me-3">
											<i class="fe fe-camera"></i>
										</a>
										<a href="#!" class="text-reset me-3">
											<i class="fe fe-paperclip"></i>
										</a>
										<a href="#!" class="text-reset">
											<i class="fe fe-mic"></i>
										</a>
									</div>

								</div>
							</div>
						</div>
						<div
							class="card-body">

							<!-- Comments -->
							<div class="comment mb-3">
								<div class="row">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a class="avatar avatar-sm" href="./profile-posts.html">
											<img src="./assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Body -->
										<div class="comment-body">

											<div class="row">
												<div
													class="col">

													<!-- Title -->
													<h5 class="comment-title">
														Ab Hadley
													</h5>

												</div>
												<div
													class="col-auto">

													<!-- Time -->
													<time class="comment-time">
														11:12
													</time>

												</div>
											</div>
											<!-- / .row -->

											<!-- Text -->
											<p class="comment-text">
												Looking good Dianna! I like the image grid on the left, but it feels like a lot to process and doesn't really
												<em>show</em>
												me what the product does? I think using a short looping video or something similar demo'ing the product might be better?
											</p>

										</div>

									</div>
								</div>
								<!-- / .row -->
							</div>
							<div class="comment">
								<div class="row">
									<div
										class="col-auto">

										<!-- Avatar -->
										<a class="avatar avatar-sm" href="./profile-posts.html">
											<img src="./assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
										</a>

									</div>
									<div
										class="col ms-n2">

										<!-- Body -->
										<div class="comment-body">

											<div class="row">
												<div
													class="col">

													<!-- Title -->
													<h5 class="comment-title">
														Adolfo Hess
													</h5>

												</div>
												<div
													class="col-auto">

													<!-- Time -->
													<time class="comment-time">
														11:12
													</time>

												</div>
											</div>
											<!-- / .row -->

											<!-- Text -->
											<p class="comment-text">
												Any chance you're going to link the grid up to a public gallery of sites built with Launchday?
											</p>

										</div>

									</div>
								</div>
								<!-- / .row -->
							</div>

						</div>
					</div>

					<!-- Card -->
					<div class="card mb-0">
						<div
							class="card-header">

							<!-- Title -->
							<h4 class="card-header-title">
								Activity
							</h4>

						</div>
						<div class="card-body">
							<div class="list-group list-group-flush list-group-activity my-n3">
								<div class="list-group-item">
									<div class="row">
										<div
											class="col-auto">

											<!-- Avatar -->
											<div class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" src="./assets/img/avatars/profiles/avatar-1.jpg" alt="...">
											</div>

										</div>
										<div
											class="col ms-n2">

											<!-- Heading -->
											<h5 class="mb-1">
												Johnathan Goldstein
											</h5>

											<!-- Text -->
											<p class="small text-gray-700 mb-0">
												Uploaded the files “Launchday Logo” and “Revisiting the Past”.
											</p>

											<!-- Time -->
											<small class="text-muted">
												2m ago
											</small>

										</div>
									</div>
									<!-- / .row -->
								</div>
								<div class="list-group-item">
									<div class="row">
										<div
											class="col-auto">

											<!-- Avatar -->
											<div class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" src="./assets/img/avatars/profiles/avatar-1.jpg" alt="...">
											</div>

										</div>
										<div
											class="col ms-n2">

											<!-- Heading -->
											<h5 class="mb-1">
												Johnathan Goldstein
											</h5>

											<!-- Text -->
											<p class="small text-gray-700 mb-0">
												Uploaded the files “Launchday Logo” and “Revisiting the Past”.
											</p>

											<!-- Time -->
											<small class="text-muted">
												2m ago
											</small>

										</div>
									</div>
									<!-- / .row -->
								</div>
								<div class="list-group-item">
									<div class="row">
										<div
											class="col-auto">

											<!-- Avatar -->
											<div class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" src="./assets/img/avatars/profiles/avatar-1.jpg" alt="...">
											</div>

										</div>
										<div
											class="col ms-n2">

											<!-- Heading -->
											<h5 class="mb-1">
												Johnathan Goldstein
											</h5>

											<!-- Text -->
											<p class="small text-gray-700 mb-0">
												Uploaded the files “Launchday Logo” and “Revisiting the Past”.
											</p>

											<!-- Time -->
											<small class="text-muted">
												2m ago
											</small>

										</div>
									</div>
									<!-- / .row -->
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Modal: Kanban task empty -->
	<div class="modal fade" id="modalKanbanTaskEmpty" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content bg-lighter">
				<div
					class="modal-body">

					<!-- Header -->
					<div class="row">
						<div
							class="col">

							<!-- Prettitle -->
							<h6 class="text-uppercase text-muted mb-3">
								<a href="#!" class="text-reset">How to Use Kanban</a>
							</h6>

							<!-- Title -->
							<h2 class="mb-2">
								Update Dashkit to include new components!
							</h2>

							<!-- Subtitle -->
							<textarea class="form-control form-control-flush form-control-auto" data-autosize rows="1" placeholder="Add a description..."></textarea>

						</div>
						<div
							class="col-auto">

							<!-- Close -->
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div>
					</div>
					<!-- / .row -->

					<!-- Divider -->
					<hr
					class="my-4">

					<!-- Buttons -->
					<div class="mb-4">
						<div class="row">
							<div
								class="col">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-white">
									Add Reaction
								</a>

							</div>
							<div
								class="col-auto">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-white">
									Share
								</a>

							</div>
						</div>
						<!-- / .row -->
					</div>

					<!-- Card -->
					<div class="card">
						<div class="card-body">
							<div
								class="dropzone dropzone-multiple" data-dropzone='{"url": "https://"}'>

								<!-- Fallback -->
								<div class="fallback">
									<div class="form-group">
										<label class="form-label" for="customFileUpload">Choose file</label>
										<input class="form-control" type="file" id="customFileUpload" multiple>
									</div>
								</div>

								<!-- Preview -->
								<ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
									<li class="list-group-item">
										<div class="row align-items-center">
											<div
												class="col-auto">

												<!-- Image -->
												<div class="avatar">
													<img class="avatar-img rounded" src="data:image/svg+xml,%3csvg3c/svg%3e" alt="..." data-dz-thumbnail>
												</div>

											</div>
											<div
												class="col ms-n3">

												<!-- Heading -->
												<h4 class="mb-1" data-dz-name>...</h4>

												<!-- Text -->
												<small class="text-muted" data-dz-size></small>

											</div>
											<div
												class="col-auto">

												<!-- Dropdown -->
												<div class="dropdown">
													<a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fe fe-more-vertical"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-end">
														<a href="#" class="dropdown-item" data-dz-remove>
															Remove
														</a>
													</div>
												</div>

											</div>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>

					<!-- Card -->
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div
									class="col-auto">

									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="./assets/img/avatars/profiles/avatar-1.jpg" alt="...">
									</div>

								</div>
								<div
									class="col ms-n2">

									<!-- Form -->
									<form class="mt-1">
										<textarea class="form-control form-control-flush" data-autosize rows="1" placeholder="Leave a comment"></textarea>
									</form>

								</div>
								<div
									class="col-auto align-self-end">

									<!-- Icons -->
									<div class="text-muted mb-2">
										<a href="#!" class="text-reset me-3">
											<i class="fe fe-camera"></i>
										</a>
										<a href="#!" class="text-reset me-3">
											<i class="fe fe-paperclip"></i>
										</a>
										<a href="#!" class="text-reset">
											<i class="fe fe-mic"></i>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- MAIN CONTENT -->
	<div
		class="main-content">


		<!-- HEADER -->
		<div class="pt-6 pb-6 bg-dark bg-ellipses">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div
						class="col-md-10 col-lg-8 col-xl-6">
						<!-- Title -->
						<p class="lead text-center text-white">
							{{ 'Welcome to Alerti'|t }}
						</p>

						<!-- Text -->
						<p class="lead text-center text-muted">
							{{ 'Find conversations about your business and join in.'|t }}
						</p>

					</div>
				</div>
				<!-- / .row -->
			</div>
		</div>

		<!-- HEADER -->
		<div class="header">

			<div
				class="container-fluid">

				<!-- Body -->
				<div class="header-body">
					<div class="row align-items-center">
						<div
							class="col">

							<!-- Pretitle -->
							<p class="justify-content-center">
								<img src="/app/assets/img/logo.svg" class="navbar-brand-img" alt="logo Alerti">
							</p>

							<!-- Title -->
							<h1 class="header-title">

								{{ 'Getting Started'|t }}


							</h1>

						</div>
						<div
							class="col-auto">

							<!-- Buttons -->
							<a href="#!" class="btn btn-white me-2">
								
{{ 'Edit'|t }}


							</a>

							<!-- Navigation (button group) -->
							<div class="nav btn-group d-inline-flex" role="tablist">
								<button class="btn btn-white active" id="kanbanColumnsToggle" data-bs-toggle="tab" data-bs-target="#kanbanColumns" role="tab" aria-controls="kabbanColumns" aria-selected="true">
									<span class="fe fe-grid"></span>
								</button>
								<button class="btn btn-white" id="kanbanListToggle" data-bs-toggle="tab" data-bs-target="#kanbanList" role="tab" aria-controls="kanbanList" aria-selected="false">
									<span class="fe fe-list"></span>
								</button>
							</div>
							<!-- / .nav -->

						</div>
					</div>
					<!-- / .row -->
				</div>

			</div>
		</div>

		{# .authorId(craft.app.user.id) #}

		{% set lists = craft.entries().section('board').all() %}


<div id="kanban"></div>


	</div>
	<!-- / .main-content -->

<script type="module" crossorigin src="/kanban/dist/assets/index.b72958e8.js"></script>


<link rel="modulepreload" href="/kanban/dist/assets/vendor.c844a99a.js">




{% endblock %}
